<h1>Lista de Livros</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Autor</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td>
        <td>
          <%= link_to "Ver", book_path(book) %> |
          <%= link_to "Editar", edit_book_path(book) %> |
          <%= link_to "Excluir", book, method: :delete, data: { confirm: "Tem certeza?" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
