<!DOCTYPE html>
<html>
<head>
  <title>Library Home</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header">
    <h1 class="title">Welcome to the Library</h1>
    <nav>
      <div> 
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Books', books_path %></li>
        <li><%= link_to 'Authors', authors_path %></li>
        <li><%= link_to 'Categories', categories_path %></li>
      </ul>
      </div>
    </nav>
  </header>

  <div>
    <h2>Explore our collection of books</h2>
    <p>Find your next great read among thousands of titles available in our digital library.</p>
    

    <div>
      <%= link_to 'Ver livros', books_path, class: "btn" %>
      <%= link_to 'Adicionar um livro novo', new_book_path, class: "btn" %>
    </div>
 
