<h1>Books</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Published Date</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.author.name %></td> <!-- Corrigido para pegar o nome do autor -->
        <td><%= book.release_date %></td> <!-- Supondo que release_date existe -->
        <td>
          <%= link_to 'Show', book_path(book) %>
          <%= link_to 'Edit', edit_book_path(book) %>
          <%= link_to 'Delete', book_path(book), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Book', new_book_path %>
